{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true
  }
}
